<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="РемСпецТех - запчасти для всех типов строительной и спецтехники">
    <link type="text/css" media="all" href="/wp-content/cache/autoptimize/css/autoptimize_f98b04045939b808c9bcb4ace2edb309.css" rel="stylesheet" />
    <link type="text/css" media="only screen and (max-width: 768px)" href="/wp-content/cache/autoptimize/css/autoptimize_61c4e7278d6f0e3a9c27218c07ea9ab5.css" rel="stylesheet" />
    <title>РемСпецТех - запчасти для строительной и спецтехники</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Construction - Layout 1 &raquo; Feed" href="/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Construction - Layout 1 &raquo; Comments Feed" href="/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Construction - Layout 1 &raquo; Products Feed" href="/shop/feed/" />
    <link rel='stylesheet' id='construction-fonts-css' href='//fonts.googleapis.com/css?family=Montserrat%3A400%2C700%7COpen%2BSans%3A%2C400%2C700&#038;ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='redux-google-fonts-construction_options-css' href='http://fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic%7COpen+Sans%3A300%2C400%2C600%2C700%2C800%2C300italic%2C400italic%2C600italic%2C700italic%2C800italic&#038;ver=1522287949' type='text/css' media='all' />
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <link rel='https://api.w.org/' href='/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.5" />
    <meta name="generator" content="WooCommerce 3.3.4" />
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <meta name="generator" content="Powered by Slider Revolution 5.4.6.4 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/simple-line-icons.css">
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>
    <style>
        .phone-num:hover {
            color: white !important;
        }

        .header-wrapper .phone-num1 {
            color: #111 !important;
        }

        .header-wrapper .phone-num2 {
            color: white !important;
        }
    </style>

</head>
<body class="archive post-type-archive post-type-archive-product woocommerce woocommerce-page wpb-js-composer js-comp-ver-5.4.7 vc_responsive">
    @Html.Partial("Header")
    @Html.Partial("MobileWrapperHeader")
    <div class="slideout_content">
        <div class="slideout_close">Close</div>
        <div class="slideout_inner_content">
            <img src="/wp-content/themes/construction/assets/img/logo/logo-dark.png" class="has-retina slideout_logo" alt="logo">
            <h3 class="slideout_heading">FREE QUOTE TODAY</h3>
            <p class="slideout_text">Fill out the form below and get a free quote today.</p>
            <div role="form" class="wpcf7" id="wpcf7-f75-o1" lang="en-US" dir="ltr">
                <div class="screen-reader-response"></div>
                <form action="/layout1/shop/#wpcf7-f75-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="75" />
                        <input type="hidden" name="_wpcf7_version" value="5.0.1" />
                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f75-o1" />
                        <input type="hidden" name="_wpcf7_container_post" value="0" />
                    </div>
                    <div class="col-sm-6 col-xs-12 first">
                        <label>Your Name</label>
                        <br /> <span class="wpcf7-form-control-wrap text-657"><input type="text" name="text-657" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span>
                    </div>
                    <div class="col-sm-6 col-xs-12 second">
                        <label>Your Number</label>
                        <br /> <span class="wpcf7-form-control-wrap tel-158"><input type="tel" name="tel-158" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Number" /></span>
                    </div>
                    <div class="col-sm-6 col-xs-12 first">
                        <label>How can we help?</label>
                        <br /> <span class="wpcf7-form-control-wrap menu-971"><select name="menu-971" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" aria-required="true" aria-invalid="false"><option value="Request a consultation">Request a consultation</option><option value="Reach our main department.">Reach our main department.</option><option value="Make a general enquiry.">Make a general enquiry.</option></select></span>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="cf7-submit-btn-push">
                            <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit" />
                        </div>
                    </div>
                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                </form>
            </div>
        </div>
    </div>
    @RenderBody()    
    @Html.Partial("Footer")
    @Html.Partial("Copyright")
    <script type="text/javascript" defer src="/wp-content/cache/autoptimize/js/autoptimize_6497e68d48935b28b17a62490733867a.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $("header").before($(".header-wrapper").clone().addClass("fixed"));
            $(window).scroll(function () {
                if ($(window).scrollTop() >= 800) {
                    $('.header-wrapper.fixed').addClass('slideDown');
                }
                else {
                    $('.header-wrapper.fixed').removeClass('slideDown');
                }
            });
            $('.hamburger-button').on('click', function () {
                $(this).toggleClass('nt-mm1-button-open');
                $('.nt-mm1-wrapper').toggleClass('nt-mm1-show-menu');
            });
            $(".mobile-menu > li > span, .sub-menu > li > span").click(function (event) {
                event.preventDefault(); if (false == $(this).next().is(':visible')) { $(this).parent().siblings().find(".sub-menu").slideUp(300); }
                $(this).next().slideToggle(300); $(this).toggleClass("nt-mm1-submenu-active");
            });
        });
    </script>
    <script type='text/javascript' src='/Scripts/ReadyMade.js'></script>
</body>
</html>
